:root{
  --primary-color: #002045;
  --secondary-color: #F17D21;
  --tertiary-color: #0076FF;
  --primary-font: "open sans", sans sarif;
  --secondary-font: "poppins", sans sarif;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}
